* {
  font-family: "Poppins";
  font-size: max(1.8vmin, 12px);
  color: var(--primaryTextColor);
}
html {
  --topNavHeight: 80px;
  --inputHeight: 40px;
  --tableRowHeight: 40px;
  --primaryButtonColor: #6b71ff;
  --primaryTextColor: #555;
  --secondaryTextColor: #eee;
  --formWidth: 60%;
  max-height: 100vh;
  overflow-y: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: "poppins";
  font-size: 1em;
  color: #eee;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  overflow-y: hidden;
  position: fixed;
}
ul {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-row-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-row-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-row-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flex-row-column-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.flex-column {
  flex-direction: column;
}
.fixOnPage {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding-bottom: 16px;
  background-color: white;
  z-index: 15;
}

.dataContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageChange {
  display: flex;
  justify-content: center;
}

.mouseforce:hover {
  visibility: hidden;
}
.pageContainer {
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  height: calc(100vh - var(--topNavHeight) - 16px);
}
.incidentReportText {
  font-size: 0.87em;
  margin: 4px 2px 4px 2px;
  color: #333;
}

.mapboxgl-control-container {
  display: none;
}
.satelliteViewButtonContainer {
  position: absolute;
  top: -48px;
  left: 50%;
  transform: translate(-50%);
}
.satelliteButton {
  width: 200px;
  height: 32px;
  border: solid 0.5px rgba(94, 147, 220, 0.76);
  cursor: pointer;
  transition: all 0.3s linear cubic-bezier(0.2, 1.1, 0.76, 1.03);
}
.caretButton {
  position: absolute;
  background: rgba(255, 255, 255, 0.85);
  top: 0;
  right: 0;
  height: 100%;
  padding-left: 24px;
  transition: all 0.4s cubic-bezier(0.2, 1.1, 0.76, 1.03);
}
.caretContainer {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  color: #000;
  z-index: 1;
  cursor: pointer;
}
.hiddenReport {
  width: 0;
  transition: all 0.4s cubic-bezier(0.2, 1.1, 0.76, 1.03);
}
.vehicleCardContainer {
  width: 100%;
  max-height: 40vh;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.deviceVehicleCard {
  position: relative;
  display: flex;
  min-height: 112px;
  height: max-content;
  flex-direction: column;
  align-items: flex-start;
  margin: 4px;
  border: solid 0.5px #8882;
  background: white;
  box-shadow: 0 4px 8px #5554;
  padding: 8px;
  border-radius: 6px;
  white-space: nowrap;
  overflow-x: hidden;
  transition: all 0.3s cubic-bezier(0.2, 1.1, 0.76, 1.03);
}
.deviceVehicleCard:hover {
  box-shadow: 0 4px 8px #5554;
  transition: all 0.3s cubic-bezier(0.2, 1.1, 0.76, 1.03);
  z-index: 1;
  transform: scale(1.07);
}
.deviceVehicleCard:hover .flex-center .incidentReportText {
  transition: all 0.4s cubic-bezier(0.2, 1.1, 0.76, 1.03);
}
.hiddenButtonContainer {
  position: absolute;
  right: -100%;
  width: max-content;
  top: 0;
  height: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s cubic-bezier(0.2, 1.1, 0.76, 1.03);
  background: linear-gradient(to left, #ddd, transparent);
}
.hiddenButton {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transform: scale(1);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.2, 1.1, 0.76, 1.03);
  box-shadow: 0 0px 0px #5554;
}
.hiddenButton:hover {
  transform: scale(1.2);
  transition: all 0.3s cubic-bezier(0.2, 1.1, 0.76, 1.03);
  box-shadow: 0 2px 2px #5554;
}
.deviceVehicleCard:hover .hiddenButtonContainer {
  right: 0;
  transition: all 0.3s cubic-bezier(0.2, 1.1, 0.76, 1.03);
}

.deviceName {
  width: 196px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}
.companyDetailsRightColumn {
  max-height: 100%;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 16px;
}
.titleText {
  font-size: 4vmin;
  margin: 16px;
}
.popup {
  opacity: 0;
  transition: all 0.4s;
}
.popup-enter {
  opacity: 0 !important;
}
.popup-enter-active {
  opacity: 1 !important;
}
.popup-enter-done {
  opacity: 1 !important;
}
.popup-exit {
  opacity: 1 !important;
}
.popup-exit-active {
  opacity: 0 !important;
}
.popup-exit-done {
  opacity: 0 !important;
}
.notificationModal {
  position: absolute;
  top: 50%;
  right: 50%;
  padding: 16px;
  width: max-content;
  height: max-content;
  max-height: 80vh;
  max-width: 30vw;
  overflow: auto;
  background: white;
  border-radius: 6px;
  box-shadow: 0px 4px 4px #0003;
}
.profileLeftColumn {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltip {
  pointer-events: none;
  position: absolute;
  right: 0;
  background-color: #222;
  width: max-content;
  height: max-content;
  white-space: nowrap;
  overflow: visible;
  border-radius: 10px;
  flex-direction: column;
  padding: 8px;
  transition: all 0.4s cubic-bezier(0.09, 1, 0.22, 1) cubic-bezier(0.2, 1.1, 0.76, 1.03);
  z-index: 1;
}
.tooltipField {
  color: #eee;
  padding-right: 8px;
}
.tooltip::before {
  content: "";
  position: absolute;
  bottom: -8px;
  right: -8px;
  width: 30px;
  height: 30px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #222;
  transform: rotate(70deg);
  z-index: 0;
  transition: all 0.5s cubic-bezier(0.09, 1, 0.22, 1) cubic-bezier(0.2, 1.1, 0.76, 1.03);
}
.noAvailableData {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50%;
  left: -50%;
  background: #0008;
  color: #eee;
  font-size: 60px;
}
.profilePageContainer {
  width: 100%;
  max-height: 90%;
  align-items: flex-start;
  padding: 0 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.deleteCompanyButton {
  padding: 8px 16px;
  background: #ff4545;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
.notificationContainer {
  min-width: max-content;
  height: 80px;
  border-top: solid 1px #ddd;
  padding: 0 48px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  transition: all 0.3s cubic-bezier(0.2, 1.1, 0.76, 1.03);
}
.notificationContainer:hover {
  background: #ccc;
  transition: all 0.3s cubic-bezier(0.2, 1.1, 0.76, 1.03);
}

.fit-content {
  width: fit-content;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.full-size {
  height: 100%;
  width: 100%;
}
.pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default;
}
.pointer-events-none {
  pointer-events: none;
}
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-95 {
  width: 95%;
}
.red {
  background: red;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.mx-1 {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.mx-2 {
  margin-left: 1em;
  margin-right: 1em;
}
.mx-3 {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.mx-4 {
  margin-left: 2em;
  margin-right: 2em;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.my-1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.my-2 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.my-3 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.my-4 {
  margin-top: 2em;
  margin-bottom: 2em;
}
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.5em;
}
.m-2 {
  margin: 1em;
}
.m-3 {
  margin: 1.5em;
}
.m-4 {
  margin: 2em;
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-1 {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.px-2 {
  padding-left: 1em;
  padding-right: 1em;
}
.px-3 {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.px-4 {
  padding-left: 2em;
  padding-right: 2em;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-1 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.py-2 {
  padding-top: 1em;
  padding-bottom: 1em;
}
.py-3 {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.py-4 {
  padding-top: 2em;
  padding-bottom: 2em;
}
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.5em;
}
.p-2 {
  padding: 1em;
}
.p-3 {
  padding: 1.5em;
}
.p-4 {
  padding: 2em;
}
.primaryText {
  color: var(--primaryTextColor);
}
.secondaryText {
  color: var(--secondaryTextColor);
}

.pageTitle {
  font-size: 1.2em;
  opacity: 0;
  transform: translateY(-200%);
  animation: fade-drop 0.6s ease-out forwards;
}

@keyframes fade-drop {
  from {
    opacity: 0;
    transform: translateY(-200%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.incidentMarker {
  cursor: pointer;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #00f900;
  opacity: 0.7;
  pointer-events: none;
  transition: all 0.3s;
}
