* {
  font-family: "Poppins";
  font-size: 1em;
  color: #555;
}
html {
  --topNavHeight: 80px;
  --inputHeight: 40px;
  --tableRowHeight: 40px;
  --formWidth: 60%;
  max-height: 100vh;
  overflow-y: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: "poppins";
  font-size: 1em;
  color: #eee;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  overflow-y: hidden;
  position: fixed;
}

.App {
  text-align: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixOnPage {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding-bottom: 16px;
  background-color: white;
  z-index: 15;
}

.dataContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageChange {
  display: flex;
  justify-content: center;
}

.mouseforce:hover {
  visibility: hidden;
}
.pageContainer {
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  height: calc(100vh - var(--topNavHeight) - 16px);
}
.incidentReportText {
  font-size: 0.9em;
  margin: 8px;
  color: #333;
}

.mapboxgl-control-container {
  display: none;
}
.satelliteViewButtonContainer {
  position: absolute;
  top: -48px;
  left: 50%;
  transform: translate(-50%);
}
.satelliteButton {
  width: 200px;
  height: 32px;
  border: solid 0.5px rgba(94, 147, 220, 0.76);
  cursor: pointer;
  transition: all 0.3s linear;
}
.caretButton {
  position: absolute;
  background: rgba(255, 255, 255, 0.85);
  top: 0;
  right: 0;
  height: 100%;
  padding-left: 24px;
  transition: all 0.4s;
}
.caretContainer {
  position: absolute;
  height: 100%;
  width: 56px;
  left: 0;
  top: 0;
  color: #000;
  z-index: 1;
  padding: 8px 24px;
  cursor: pointer;
}
.hiddenReport {
  width: 0;
  transition: all 0.4s;
}
.deviceVehicleCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 4px;
  border: solid 0.5px #8882;
  background: white;
  box-shadow: 0 4px 8px #5554;
  padding: 8px;
  border-radius: 6px;
  white-space: nowrap;
  overflow-x: hidden;
  transition: all 0.3s;
  cursor: pointer;
  transform: translateY(0px);
}
.deviceVehicleCard:hover {
  background: #777;
  box-shadow: 0 4px 8px #5554;
  transform: translateY(-10px);
  transition: all 0.3s;
}
.deviceVehicleCard:hover .flex-center .incidentReportText {
  color: #eee;
  transition: all 0.4s;
}
.deviceName {
  width: 196px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}
.companyDetailsRightColumn {
  width: 50%;
  max-height: 100%;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 16px;
}
