.modalContainer {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}
.deviceId {
  width: max-content;
  white-space: nowrap;
  justify-content: flex-start;
  color: #aaa;
  transition: all 0.4s;
}
.notSelectable {
  width: 30%;
  justify-content: flex-start;
  cursor: default;
}
.toggle {
  width: 50%;
  border: solid 0.5px #eee;
  padding: 4px;
  transition: all 0.4s;
}
.modalToggleContainer {
  font-size: 20px;
  padding: 8px;
  width: 100%;
  color: #eee;
  cursor: pointer;
  transition: all 0.4s;
}
.modalInput {
  width: 50%;
  height: 36px;
  font-size: 18px;
  color: #555;
  border-radius: 5px;
  padding-left: 8px;
  border: none;
  margin-top: 16px;
  transition: all 0.4s;
}
.modalInput::placeholder {
  font-size: 16px;
  transition: all 0.4s;
}
.modalInput:focus {
  font-size: 18px;
  outline-style: none;
  transition: all 0.4s;
}
.deleteModalContainer {
  z-index: 10;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #0002;
  backdrop-filter: blur(2px);
  transition: all 0.4s;
  left: 0;
}
.deleteModal {
  width: 70%;
  height: 30%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 4px #1113;
  flex-direction: column;
  justify-content: space-around;
  padding: 16px;
}
