@use "../css/popUp.module.scss";

ul#localization {
  position: absolute;
  right: 0;
  margin-top: 1em;
  margin-right: 1em;

  li {
    display: inline-block;
    background: lightgray;
    padding: 0.25em 0.5em;
    border: solid gray;
    min-width: 64px;
    border-width: 2px 1px;
    cursor: pointer;

    &:first-child {
      border-radius: 0.5em 0 0 0.5em;
      border-left-width: 2px;
    }

    &:last-child {
      border-right-width: 2px;
      border-radius: 0 0.5em 0.5em 0;
    }

    &[aria-selected="true"] {
      background: darkgray;
    }
  }
}

div.incident-marker {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #00f900;
  opacity: 0.7;
  cursor: pointer;
  pointer-events: none;
  transition: all 0.3s;

  &.accident {
    background: #ff4545;
  }
}